@using ApplicationFormationAspNetRazoe.Core.Data.Models
@model Paragraphe

@{
    ViewData["Title"] = "Index";
}

<h1>Create paraghraphe </h1>

<form asp-action="Create">
    <label asp-for="Numero" class="control-label"></label>
    <input type="text" asp-for="Numero" class="control-label" />
    <label asp-for="Titre" class="control-label"></label>
    <input type="text" asp-for="Titre" class="control-label" />
    <label asp-for="Description" class="control-label"></label>
    <textarea type="text" asp-for="Description" class="control-label" ></textarea>

    <input type="submit" value="Valider"/>
</form>

